<div id="edit">

<select id="prueba" name="tablas">
<option value="select" selected>Seleccionar...</option>
<option ng-repeat="x in lista" value="{{x.table}}">{{x.table}}</option>
</select>
<input class="boton azul" type="button" ng-click="getTable()" value="Enviar" />


<div>
<form ng-repeat="(key, obj) in tabla">
<fieldset><input name="check" type="checkbox"/></fieldset>
<fieldset ng-repeat="(name, value) in obj">
<legend>{{name}}</legend>
<input type="text" name="{{name}}" value="{{value}}" />
</fieldset>
</form>
<input class="boton" type="button" ng-click="updateTable()" value="Enviar" />
</div> 
</div>
